{% load static %}
<footer class="bg-white rounded shadow mb-4 mt-4">
    <div class="row">
        <div class="col-12 col-md-7 col-lg-9 d-md-flex" style='padding: 5px 0px 2px 32px;'>
            <div class="text-center text-md-start">
              <img 
                src="{% static 'assets/img/images/black_sahib_money_logo.svg' %}"
              />
              <p class="text-center text-md-start mt-3" style="font-size: 14px">
                © 2022 Sahib Money. All Rights Reserved
              </p>
            </div>
          </div>        
    </div>
</footer>
