{% extends "layouts/base.html" %} {% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}
<link href="/static/assets/css/drag-and-drop.css" rel="stylesheet" />

<script
  type="text/javascript"
  src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"
></script>
{% include 'payments/messages.html' %}
<h1>Credit Deposit</h1>
<div style="margin-bottom: 5%">
  <p style="font-size: 20px; font-weight: 600">
    * Please deposit the amount at the following bank details
  </p>
  <div style="margin-top: 15px">
    <p style="font-size: 18px; font-weight: 700">Account Name:</p>
    <p style="font-size: 15px">H.S Tech</p>
    <p style="font-size: 18px; font-weight: 700">Iban no:</p>
    <p style="font-size: 15px">PK38HABB0010197901543803</p>
    <p style="font-size: 18px; font-weight: 700">Account no:</p>
    <p style="font-size: 15px">0197901543803</p>
  </div>
</div>
<div style="text-align: center; border: 2px solid #fff; padding: 5%">
  <form class="form-contact" method="post" , enctype="multipart/form-data">
    {% csrf_token %}

    <fieldset class="form-group">
      <!-- <label class="control-label" for="id_{{ form.receipt.name }}"
        >{{ form.receipt.label }}</label
      > -->
      <div class="drag-area">
        <div class="icon"><i class="fas fa-cloud-upload-alt"></i></div>
        <header>Drag & Drop to Upload File</header>
        <span>OR</span>
        <button style="margin-bottom: 5%">Browse File</button>
        <input
          type="file"
          class="form-control"
          name="{{ form.receipt.name }}"
          id="imagefile"
          value="{{ form.receipt.value|default:'' }}"
          hidden
        />
      </div>
      <!-- <div>
        <input
          type="file"
          class="form-control"
          name="{{ form.receipt.name }}"
          id="imagefile"
          value="{{ form.receipt.value|default:'' }}"
        />
        <div class="container-fluid" id="img-card"></div>
      </div> -->
      <!-- <input type="button" value="Choose file" class="btn btn-primary" /> -->
    </fieldset>
    <fieldset class="form-group" style="display: flex; align-items: center">
      <div style="display: flex; align-items: center; width: 100%">
        <label
          style="color: #fff"
          class="control-label"
          for="id_{{ form.amount.name }}"
          >{{ form.amount.label }}</label
        >
        <div style="justify-content: center; width: 100%; margin: 15px">
          <input
            style="border: 1px solid #fff"
            type="text"
            class="form-control"
            name="{{ form.amount.name }}"
            id="id_{{ form.amount.name }}"
            value="{{ form.amount.value|default:'' }}"
          />
        </div>
      </div>
    </fieldset>
    <input
      data-toggle="modal"
      data-target="#exampleModal"
      type="button"
      value="Submit"
      class="btn btn-primary"
    />
  </form>
</div>
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div style="text-align: center">
          <img src="/static/assets/img/tick.svg" />
          <p style="margin: 15px; font-size: 15px; font-weight: 600">
            Your request has been submitted. you will be notified within an
            hour.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <form class="form-contact" method = "post", enctype="multipart/form-data">
   {% csrf_token %}
      <fieldset class="form-group">
        <label class="control-label" for="id_{{ form.amount.name }}">{{ form.amount.label }}</label>
          <div >
            <input type="text" class="form-control"
              name="{{ form.amount.name }}"
              id="id_{{ form.amount.name }}"
              value="{{ form.amount.value|default:'' }}" > 
             </div>
      </fieldset>

      <fieldset class="form-group">
        <label class="control-label" for="id_{{ form.receipt.name }}">{{ form.receipt.label }}</label>
          <div >
            <input type="file" class="form-control"
              name="{{ form.receipt.name }}"
              id="imagefile"
              value="{{ form.receipt.value|default:'' }}" >
            <div class="container-fluid" id="img-card"></div>
           </div>
            <input type="button" value="Choose file"  class="btn btn-primary">
      </fieldset>
   <input type="submit" value="Submit"  class="btn btn-primary">
</form> -->
<script src="/static/assets/js/drag-and-drop.js"></script>
<script>
  $("#imagefile").change(function (e) {
    for (var i = 0; i < e.originalEvent.srcElement.files.length; i++) {
      var file = e.originalEvent.srcElement.files[i];

      var img = document.createElement("img");
      var reader = new FileReader();
      reader.onloadend = function () {
        img.src = reader.result;
      };
      img.style.cssText = "height:350px;width:300px";
      reader.readAsDataURL(file);
      $("#img-card").empty();
      $("#img-card").append(img);
    }
  });
</script>

{% endblock %}
