{% extends "layouts/base.html" %}
{% load static %}
{% block title %} Add Bank Details {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<style>
    .text-error {
        color: maroon;
    }
</style>
<input id="form-success" type="hidden" value="{{form_success}}" />

{% include 'banks/bank_add_success_modal.html' %}
<section class="mt-5 mt-lg-0 bg-soft d-flex align-items-center">
    <div class="container">
        <div class="row justify-content-center form-bg-image" data-background-lg="">
            <div class="col-12 d-flex align-items-center justify-content-center">
                <div class="bg-white shadow border-0 rounded border-light p-4 p-lg-5 w-100 fmxw-600">
                    <div class="text-center text-md-center mb-4 mt-md-0">
                        <h3>Add your banking details</h3>
                    </div>
                    <form method="post" action="" class="mt-4" autocomplete="off">
                        {% csrf_token %}

                        <div class="form-group mb-4">
                            <input type="text" autocomplete="off"  name="bank_name" placeholder="Bank name" class="form-control" required="true" id="id_bank_name"/>
                            <span class="text-error">{{ form.errors.bank_name }}</span>
                        </div>

                        <div class="form-group mb-4">
                            <input type="text" autocomplete="off"  name="account_name" placeholder="Account name" class="form-control" required="true" id="id_account_name"/>
                            <span class="text-error">{{ form.errors.account_name }}</span>
                        </div>

                        <div class="form-group mb-4">
                            <input type="text" autocomplete="off"  name="account_number" placeholder="Account number" class="form-control" required="true" id="id_account_number"/>
                            <span class="text-error">{{ form.errors.account_number }}</span>
                        </div>

                        <div class="form-group mb-4">
                            <input type="text" autocomplete="off"  name="iban_number" placeholder="IBAN number" class="form-control" required="false" id="id_iban_number"/>
                            <span class="text-error">{{ form.errors.iban_number }}</span>
                        </div>

                        <div class="d-grid">
                            <button type="submit" name="add_bank_account" class="btn btn-gray-800">Add Bank Account</button>
                        </div>
                        <span class="text-error">
                            {{ form.non_field_errors }}
                        </span>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="{% static 'assets/js/drag-and-drop.js' %}"></script>
{% endblock javascripts %}
